.odd {
    background: pink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth {
    background: lightgreen;
    font-size: 24px;
    font-weight: bold;
}