/* *### Self Check
- The header text is size 32px and weight 900.
- The header text is vertically centered and 16px from the edge of the screen.
- The footer is pushed to the bottom of the screen (the footer may go _below_ the bottom of the screen if the content of the 'cards' section overflows and/or if your screen is shorter).
- The footer text is centered horizontally and vertically.
- The sidebar and cards take up all available space above the footer.
- The sidebar is 300px wide (and it doesn't shrink).
- The sidebar links are size 24px, are white, and do not have the underline text decoration.
- The sidebar has 16px padding.
*- There is 32px padding around the 'cards' section.
*- The cards are arranged horizontally, but wrap to multiple lines when they run out of room on the page.
 */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    /* *Changes */
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* *Changes */
a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.header {
    height: 72px;
    background: darkmagenta;
    color: white;
    /* *Changes */
    display: flex;
    align-items: center;
}

/* *Changes */
.header h1 {
    font-size: 32px;
    font-weight: 900;
    margin-left: 16px;
}


.middle {
    flex: 1;
    display: flex;
}


.sidebar {
    width: 300px;
    background: royalblue;
    flex-shrink: 0;
    padding: 16px;
}

.cards {
    padding: 32px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    border-radius: 4px;
    padding: 10px;
    flex: 0 0 300px;
    word-wrap: break-word;
}

.footer {
    height: 72px;
    background: #eee;
    color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
}
